<div id="scroller" class="chat" *ngFor="let msg of message">
    <label>[{{ msg.user }} - {{ msg.createdAt | date: 'shortTime' }}]</label>
    <label> - </label>
    <span>{{ msg.message }}</span>
    <div id="anchor"></div>
  </div>
  
<style>
#scroller * {
    /* don't allow the children of the scrollable element to be selected as an anchor node */
    overflow-anchor: none;
   
}

#anchor {
    /* allow the final child to be selected as an anchor node */
    overflow-anchor: auto;
    /* anchor nodes are required to have non-zero area */
    height: 1px;
}

</style>
