.chat {
  label {
    color: red;
  }
  span {
    color: #0aff0a;
  }
}

.ui-terminal {
  background-color: #000000 !important;
  color: #0aff0a !important;
  border: 1px solid #000000 !important;
  height: 5vh !important;
  overflow-y: hidden !important;
}

.positionTerminal {
  margin-bottom: 0vh;
}

.ui-terminal-content-prompt {
  color: red;
}

.ui-inputtext {
  background: #000000 !important;
}

html {
  background-color: #000000;
  height: 100vh;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
