body .ui-terminal {
  background-color: #000000 !important;
  color: #0aff0a !important;
  border: 1px solid #000000 !important;
  width: 100%;
  height: 100vh;
  overflow-y: hidden !important;
}

html {
  overflow-y: hidden;
  background-color: #000000;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
